*.iml
.gradle
/local.properties
.idea/
/.idea/
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
*.keystore
google-services.json
marvelApiKey.properties
