*.iml
.gradle
/local.properties
.idea/
/.idea/
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
*.keystore
google-services.json
keystore.properties
KeyStore_and_SSH_Keys.txt
deploy_key
deploy_key.pub
awsconfiguration.json
marvelApiKey.properties